.greetingForm {
    margin-top: 80px;
    z-index: 1;
}

.greetingForm > input {
    font-size: 21px;
    appearance:none;
    outline-style: none;
    width: 360px;
    border-radius: 25px;
    padding: 15px 25px;
    background-color: #fff;
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.greetingForm > input::placeholder {
    color: rgb(201, 201, 201);
}

.greetings {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 600;
    line-height: 140%;
    margin: 30px 0;
}

.greetings > span {
    font-size: 40px;
    font-weight: 400;
    font-family: 'Caveat', cursive;
}

.greetingForm,
.greetings {
    display: none;
}

.showing {
    display: block;
}

@media (max-width: 768px) {
    .greetingForm > input {
        width: 80%;
    }
    .greetings {
        font-size: 36px;
    }
    .greetings > span {
        font-size: 36px;
    }
}