.toDo {
    margin: 20px 0 80px;
    text-align: center;
    z-index: 1;
    display: none;
}

.toDo > form > input {
    font-size: 18px;
    width: 50%;
    border-radius: 25px;
    padding: 15px 25px;
    background-color: #fff;
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.2);
}

input::placeholder {
    color: rgb(201, 201, 201);
}

.list {
    margin: 30px 0;
    list-style: none;
}

.list > div {
    float: left;
    margin: 20px 40px;
    padding: 30px 40px;
    border-radius: 30px;
}

.list > div:hover {
    background-color: rgba(255,255,255,0);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out;
}

.list > div > h2 {
    font-size: 18px;
    text-align: left;
    color:  rgb(255, 255, 255);
}

.list > div > ul {
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 0;
}

.list > div > ul > li {
    border-bottom: 4px solid #fff;
    border-bottom-style: dotted;
    padding: 10px 0;
}

.list > div > ul > li > span {
    padding-right: 20px;
}

.list > div > ul > li > button {
    cursor: pointer;
    color: rgb(255, 255, 255);
    padding: 0 8px;
}

.list > div > ul > li > button:hover {
    color: rgba(255, 255, 255, 0.5);
}

.showing {
    display: block;
}

@media (max-width: 768px) {
    .toDo {
        margin: 10px 0 60px;
    }
    .toDo > form > input {
        width: 60%;
    }
    .list {
        margin: 10px 0;
    }
    .list > div {
        margin: 20px 20px 0;
        padding: 20px 30px;
    }
    .list > div > ul {
        padding: 10px 0;
        font-size: 16px;
    }
    .list > div > ul > li > button {
        padding: 0 5px;
    }
}
