.weather {
    display: flex;
    margin-top: 100px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.weather > figure {
    display: flex;
}

.weather > figure > img {
    width: 80px;
    height: 80px;
}

.weather > figure > figcaption {
    padding-top: 30px;
}

.weather > strong {
    font-size: 28px;
    padding: 20px 6px 0 10px;
}

.weather > span {
    padding-top: 30px;
}

@media (max-width: 768px) {
    .weather {
        margin-top: 50px;
    }
    .weather > figure > img {
        width: 60px; height: 60px;
    }
    .weather > figure > figcaption {
        padding-top: 18px;
    }
    
    .weather > strong {
        font-size: 24px;
        padding: 12px 6px 0 10px;
    }
    
    .weather > span {
        padding-top: 18px;
    }
}